.education-container {
    background-color: #e5e7eb;
    border-radius: 10px;
}

.education-logo {
    border-radius: 100%;
    width: 100%;
}

.education-name {
    background: linear-gradient(90deg, #34d399, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
